*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none; 
    background: transparent; 
    font-family: 'Roboto', sans-serif;
}

body {
    background: #ffffff;
    color: black; 
    font-family: '';
    overflow: hidden;
    overflow-y: scroll; 
}