*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none; 
    background: transparent; 
}

body {
    background: #6f90af;
    color: white; 
    overflow: hidden;
    overflow-y: scroll; 
}