#about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 2.5rem;
    box-sizing: border-box;
    min-height: calc(100vh - 4rem); /* Changed from height to min-height */
    padding-top: 7rem;
}

.aboutText {
    width: 50%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.aboutTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: rgb(0, 135, 255);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
}

.aboutDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    color: white;
    text-align: left;
    line-height: 2;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out 1s, transform 1s ease-out 1s;
}

.aboutDesc p {
    margin-bottom: 1rem;
}

.myPhoto {
    width: 50%;
    max-width: 30rem;
    object-fit: cover;
    margin-right: 5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fadeIn {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

@media (max-width: 768px) {
    #about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 2rem; /* Adjust padding for smaller screens */
    }

    .myPhoto {
        width: 100%;
        max-width: 20rem;
        margin-right: 0;
        margin-bottom: 2rem; /* Add margin bottom for spacing */
    }

    .aboutText {
        width: 100%;
    }

    .aboutDesc {
        padding: 0 1rem;
    }

    .aboutTitle {
        padding: 0; /* Remove padding */
        font-size: 2.5rem; /* Adjust font size for smaller screens */
    }

    .aboutDesc {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .aboutTitle {
        font-size: 2rem; /* Further adjust font size for smaller screens */
    }

    .aboutDesc {
        font-size: 0.8rem; /* Further adjust font size for smaller screens */
    }

    .myPhoto {
        max-width: 15rem; /* Adjust image size for smaller screens */
    }
}



