.footer {
    width: 100vw; 
    height: 4rem; 
    background: #0087ff; 
    display: flex; 
    align-items: center;
    justify-content: center;
    font-weight: 300; 
    font-size: medium; 
    color: rgba(255, 255, 255, 0.71)
}